<%= error_messages_for 'another_model' %>

<!--[form:another_model]-->
<p><label for="another_model_date_rate">Date rate</label><br/>
<%=h @another_model.date %> </p>

<p><label for="another_model_rate">Rate</label><br/>
<%= text_field 'another_model', 'amount'  %></p>
<!--[eoform:another_model]-->

