<div id="banner">
	<h1>Ripley Court</h1>
<ul id="nav_main">
<li>
	<a href="/">Home</a>
</li>
<li>
	<a href="/admin/availability/availability">Availibility</a>
</li>
<li>
	<a href="/admin/rate/rate/">Rates</a>
</li>
<li>
	<a href="/login/logout/">Logout</a>
</li>
</ul>
</div>